@import './theme';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&family=Noto+Sans+Tagbanwa&display=swap');
* {
    font-family: 'Noto Sans Tagbanwa', sans-serif;
}
.sidebar-nav{
    /* background-color: aqua; */
    list-style-type: disc;
}

.app-sub-sidebar li:before{
    content: "·";
    padding-right: 4px;
    float: left;
    color: $mainBlue;
}
.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
}
.app-name-link img{

    width: 90%;
}

.markdown-section{
    background-color: white;
    border-radius: .2em;
}
.sidebar-nav{
    height: 80vh;
}
.sidebar-nav strong{
    color: white;
    padding: .1em 1em;
    font-weight: 600;
    border-radius: .2em;
    background-color: $mainBlue;
}
.sidebar-nav p{
    border-top: 1px $mainBlue solid;
}